.main-page{
  background-size: cover;
 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;

}
.main-page.back.black{
  background:#EA5455;


}
.container-size{
  width:300px;

}
.weather-form{
  border-radius: 31px !important;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: white;
  min-height: 300px;
}
.weather-form input{
padding: 1rem;
margin:0.5rem;
border: solid 1px ;
border-radius: 15px;
border-color: #FEB692;


}
..container-size input{
 

}
.container-size span{
 color: red;
 font-size: small;

}
input.is-invalid {
  background-position: center left calc(.5em) !important;
  padding: 10px !important;
  border-color: red;
}
.container-size button{
  background-color: #FEB692;
  border: none;
 outline: #EA5455;
 box-shadow: #EA5455 !important;
 }
.btn-focus{
  box-shadow: none;
}
